<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Signup</title>
        <link rel="stylesheet" href="registration.css">
    </head>
    <body>
        <div class="menu-container">
            <ul class=menu>
                <form id="signup" method="post">          
                    <li class="menu-items logo">Capsule</li>
                    <li class="menu-items fields">
                        <input class="email" type="text">
                    </li>
                    <li class="menu-items fields">
                        <input class="password" type="password">
                    </li>
                    <li class="menu-items fields">
                        <input class="submit" type="submit">
                    </li>
                </form>
            </ul> 
        </div>
        <div class="sucess">
            <h1>Signed up!</h1>
            <span>Success, you have signed up for this application.</span></div>
    </body>
</html>
